<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="my_test" connectionString="Data Source=localhost,1444;User ID=sa;Password=password_OfASufficent_Length11;Initial Catalog=Seal_Test;Application Name=Tests" />
        <add name="postgres" connectionString="User ID=postgres;Password=mypassword;Host=localhost;Port=5429;Database=postgres;" />
    </connectionStrings>
</configuration>